:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}

body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
}
.list {
    list-style: none;
}
/* Site nav */
.site-nav .link {
    color:#212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}
.site-nav .link:hover,
.site-nav .link:focus{
    color:#2196F3;
}
.site-nav .link.current {
    color: #2196F3;
}   
/* Contacts */
.contact-site{
    color:#757575;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
}
.contact-site:hover,
.contact-site:focus {
    color:#2196F3;
}
/* Hero */
.hero-title {
    background-color: #2F303A;
    color:#FFFFFF;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
}
.button.primary {
    color: #FFFFFF;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
}
/* Section */
.section-title {
    color:#212121;
}
/* Button */
button {
    font-family: inherit;
}
