body {
    background-color: #FFFFFF;
    color:#757575;
}
.list {
    list-style: none;
}
/* Site nav */

.site-nav .link {
    color:#212121;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color:#2196F3;
}
/* Contacts */
.contact-site{
    color:#757575;
}
.contact-site:hover,
.contact-site:focus {
    color:#2196F3;
}
/* Hero */
.hero-title {
    background-color: #2F303A;
    color:#FFFFFF;
}
.button.primary {
    color: #FFFFFF;
    background-color: #2196F3;
}
/* Section */
.section-title {
    color:#212121;
}

